html, body {
	height: 100vh;
}
body {
	background-color: #FFF;
	font-family: 'Helvetica';
	margin: 0;
	padding: 0;
}

#main {
	transition: margin-left .5s;
	/*background-image: url("pics/school.png");*/
	position: relative;
	height: 100%;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}
.container.about {
	width: 80%;
	height: auto;
}

#name {
	padding: 20px 20px 20px 20px;
	color: #52B0FF;
	font-weight: 300;
	font-size: 4.2em;
}

#bio {
	font-size: 20px;
	color: #000000;
	width: 60%;
}

#biopic {
	position: absolute;
	display: block;
	margin: 20px 20px 20px 20px;
	width: 300px;
	padding-bottom: 10%;
	top: 10%;
}

#biopic img {
	width: 100%;
	height: auto;
	z-index: -1;
}

/* resume page */
#resume-page div {
	margin: 2% auto;
	width: 650px;
} 
.resume img{
	margin: auto;
	width: 60%;
	height: auto;
} 

/* projects page */
#projects-header {
	font-size: 3em;
	font-weight: 300;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
} li {
	display: inline;
}

#sort a {
	font-size: 1.5em;
	text-decoration: none !important;
	display: inline-block;
	padding: 8px;
}
.sortitem {
	transition: 0.3s;
}
#sort a:hover {
	color: #f1f1f1;
}

#projects-body {
	display: table;
	position: relative;
	width: 100%;
}

.thumb {
	position: relative;
	float: left;
	margin: 10px 10px 20px 10px;
	width: 300px;
	height: 300px;
	border: 4px solid black;
	cursor: pointer;
}

.thumb-pic{
	width: 300px;
	height: 300px;
}

.thumb-overlay {
	float: left;
	position: absolute;
	width: 300px;
	height: 300px;
	top: 0;
	background-color: #004785;
	opacity: 0;
	z-index: 10;
}

.thumb-overlay .title {
	position: absolute;
	left: 10px;
	top: 20px;
	color: #efefef;
	text-align: center;
	font-weight: bold;
}

.thumb-overlay .type {
	position: absolute;
	left: 10px;
	bottom: 20px;
	color: #efefef;
	text-transform: lowercase;
	text-align: center;
	font-weight: bold;
}
/* contact page */
.contactme {
	position: absolute;
	left: 200px;
	height: 50px;
	width: 500px;
	text-align: center;
	font-size: 1.2em;
	border-bottom: 1px solid #52B0FF;
	border-radius: 50%;
	display: table-cell;
	vertical-align: middle;
} b {
	color: #52B0FF;
}
#contact-head {
	top: 150px;
}

#contact-phone {
	top: 250px;
}

#contact-email {
	top: 350px;
}

.contactme a:hover{
	color: cyan;
}


/* page overlay */
.page-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: #696969;
}

/* project details */
.proj-details {
	position: absolute;
	top: 0;
	right: 25%;
	width: 600px;
	height: 100%;
	z-index: 20;
	background-color: #00D1ED;
	opacity: 0;
	overflow: auto;
}

#closeBtn {
	position: absolute;
	display: block;
	right: 5px;
	font-size: 36px;
	top: 5px;
	cursor: pointer;
}

.details-pic {
	position: absolute;
	top: 45px;
	width: 580px;
	height: 300px;
	padding: 0px 10px 10px 10px;
}

.details-links {
	position: absolute;
	top: 355px;
	width: 580px;
	height: 30px;
	padding: 0px 10px 10px 10px;
}

.details-desc {
	position: absolute;
	top: 395px;
	width: 580px;
	height: 300px;
	padding: 0px 10px 0px 10px;
}

/* specific project adjustments */
#newday-ppt, #deloitte-ppt {
	position: absolute;
	left: 60px;
}

.measure-pics {
	width: 580px;
	height: auto;
}

#chevron-left {
	font-size: 36px;
	top: 45%;
	left: 0;
	cursor: pointer;
}

#chevron-right {
	font-size: 36px;
	top: 45%;
	right: 0;
	cursor: pointer;
}

.hidden {
	display: none;
}






