html {
	height: 100%;
}
body {
	background-color: #FFF;
	font-family: 'Helvetica';
	margin: 0;
	padding: 0;
	height: 100%;
}

.sidenavbar {
	height: 100%;
	width: 0; /* will be changed with js */
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 50px;
}

.sidenavbar .togglebtn {
	text-decoration: none;
	color: white;
	display: block;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	font-size: 50px;
	margin-left: 10px;
}

.navitem {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	margin-left: 35px;
	transition: 0.3s;
} .selected {
	color: #FFFFFF;
	text-decoration: underline;
}

.sidenavbar a:hover{
	color: #f1f1f1;
} 

.navpic {
	margin-left: 80px;
	border-radius: 50%;
	overflow: hidden;
	width: 100px;
	height: 100px;
}

.round img {
	display: block;
	min-width: 100%;
	min-height: 100%;
}

#main {
	transition: margin-left .5s;
	background-image: url("pics/school.png");
	position: relative;
	padding: 20px;
	height: 100%;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
} .about {
	margin-left: 20%;
	margin-top: 5%;
	padding-top: 10%;
	width: 50%;
	height: 50%;
	font-weight: 300;
	font-size: 4.2em;
	color: #52B0FF;
}

#bio {
	padding-top: 5%;
	font-size: 20px;
	color: #000000;


}

.hidden {
	display: none;
}










