body {
	background-color: #FFF;
	font-family: 'Helvetica';
	margin: 0;
	padding: 0;
}

.sidenavbar {
	height: 100%;
	width: 0; /* will be changed with js */
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 50px;
}

.sidenavbar .togglebtn {
	text-decoration: none;
	color: white;
	display: block;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	font-size: 50px;
	margin-left: 10px;
}

.sidenavbar .navitem {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	margin-left: 35px;
	transition: 0.3s;
}

.sidenavbar a:hover, .offcanvas a:focus{
	color: #f1f1f1;
}

.navpic {
	margin-left: 80px;
	border-radius: 50%;
	overflow: hidden;
	width: 100px;
	height: 100px;
}

.round img {
	display: block;
	min-width: 100%;
	min-height: 100%;
}

#main {
	transition: margin-left .5s;
	position: relative;
	padding: 20px;
}

.name {
	position: relative;
	margin-left: 25%;
	margin-top: 25%;
	font-weight: 200;
	font-size: 3.2em;
	color: #52B0FF;
}

.selected {
	color: #f1f1f1;
}

.unselected {
	color: #818181;
}
.hidden {
	display: none;
}










